body{
    background-color: #20292b;
    margin: 10;
    padding: 0;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    font-size: 30px;

}
* {
 box-sizing: border-box;
}
nav{
    font-size: 40px;
    line-height: 22px;
    margin-top: 20px;
}
p {
    font-size: 15px;
}
/*
*  Specific li for nav,
*  the display flex makes it horizontal
*/
nav li {
    list-style-type: none;
    display:flex;
    align-items: center;
    margin: 0;

}

.darkMode{
    margin: 5px;
    font-size: 2px;
}

nav ul{
    padding: 0;
    list-style-type: none;
    display:flex;
    align-items: center;
    margin: 0;
}
nav .emoji{
    font-size: 130%;
    margin: 10px;
    margin-right: 0;

}

nav .signup {
    margin:2rem;
    text-decoration: none;
}

nav .menu-item a{
    margin-right: .7rem;
    color:#8ba1a4;
    text-decoration: none; 
}

nav .m-l-a {
    margin-left: auto!important;
}


nav .brand {
    display: flex;
    color:#8ba1a4; 
    align-items: center;
    font-weight: 500;
    text-decoration: none;
    
}
#navbar{
    background-color: #2a3639;
    color: #fff;
    display: block;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    min-height: 100px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    padding:0 1rem 4rem;
    text-align: center;

}
main{
    margin: 0 auto;
    padding-top: 5.5rem;
    min-height: 700px;
    position: relative;
    color:#8ba1a4;
}

.mainContainer{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}
main ul{
    list-style-type: none;
    display:flex;
    align-items: center;

}
main ul li{
    padding: 20px;
}

.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }